<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="/favicon.ico" />
  <meta charset="UTF-8">
  <!--==============手机端适应============-->
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <!--===================================-->
  <meta name="description" content="">
  <meta name="author" content="">
  <!--==============强制双核浏览器使用谷歌内核============-->
  <meta name="renderer" content="webkit">
  <meta name="force-rendering" content="webkit">
  <title>Fake ChatGPT</title>
  <script type="module" crossorigin src="/public/index-e05c6e23.js"></script>
  <link rel="stylesheet" href="/public/index-04f35a8b.css">
</head>

<body>
  <div id="app"></div>
  
</body>

</html>